
/*default styles*/
*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

/*customize the logo*/
.starbucks_logo{
    width: 200px;
    margin-top: 20px;
}

/*customize the navigation links*/
nav ul{
    display: flex;
    justify-content: flex-end;
    margin:-50px 100px 0 0;
}
nav ul li{
    list-style-type: none;
}
nav ul a{
    padding: 10px;
    text-decoration: none;
    color: black;
}
nav ul li a:hover{
    text-decoration: overline underline;
}

/*hide the hamburger menu*/
.fa-solid{
    display: none;
}

/*customize the main body*/
main{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 150px 0 0 70px;
    transition: 2.5s;
}

/*customize the coffee image*/
.coffee-image{
    margin-top: -100px;
    transform: rotate(-10deg);
    transition: 1.5s;
    
}
.coffee-image:hover{
    animation: rotate 1.5s ease-in-out  1;
}
/*create n animation for the hover effect*/
@keyframes rotate {
    0%{
        transform: rotate(-10deg);
    }
    50%{
        transform: rotate(360deg);
    }
}

/*customize the text contents*/
.text_content{
    max-width: 100%;
}
.message{
    max-width: 100%;
}
.title{
    margin-bottom: 10px;
}
.title span{
    color: rgba(0, 150, 74);
}

/*customize the button*/
.text_content button{
    padding: 10px;
    margin-top: 15px;
    width: 150px;
    border-radius: 50px;
    border-color: transparent;
    color: #ffffff;
    background-color:rgba(0, 150, 74);
}

/*apply different styling for smaller screen sizes*/
@media screen and (width <= 1200px) { /*screen sizes less than 1200px
    /*change the styling of the main body*/
    main{
        margin: 40px 0 0 50px;
        display:grid;
        grid-template-columns: 0.7fr;
        transition: 2.5s;
    }
    /*change the styling of the coffee image*/
    .coffee-image{
        margin-top: 20px;
        margin-right:20px ;
        transform: rotate(10deg);
        transition: 1.5s;
    }
}

@media screen and (width <= 600px) {
    /*hide the navigation link*/
    nav{
        display: none;
    }
}
